{% import "_includes/forms" as forms %}
{% set selectElementId = 'linkType' %}
{% set typeElementId = 'types' %}

{% set typeOptions = [{
    label: "Select Type"|t('link')
}] %}
{% for type in types %}
    {% set typeOptions = typeOptions|merge([{
        label: type.displayName,
        value: className(type)
    }]) %}
{% endfor %}

{{ forms.selectField({
    label: 'Add Link'|t('link'),
    instructions: 'Select a link type to add and configure'|t('link'),
    id: selectElementId,
    options: typeOptions
}) }}

<div id="{{ typeElementId }}" class="pane"{% if field.types|length == 0 %} style="display: none;"{% endif %}>
    <nav class="tabs">
        <ul>
            {% for type in field.types %}
            <li>
                <a href="#{{ ''|namespaceInputId }}tab{{ loop.index }}" class="tab{% if loop.first %} sel{% endif %}">{{ type.displayName }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="types">
        {% for type in field.types %}
            <div id="{{ "tab"~loop.index }}" class="type">
                {% include "link/_components/fieldtypes/Link/type" with {
                    type: type,
                    namespace: 'types[type-'~loop.index~']'
                } only %}
                {#{% namespace 'types[]' %}#}
                    {#<input type="hidden" name="class" value="{{ className(type) }}" />#}
                    {#{{ type.settingsHtml()|raw }}#}
                {#{% endnamespace %}#}
            </div>
        {% endfor %}
    </div>
</div>

{% set js %}

    {#<script>#}
        new Craft.LinkTypeManager(
            $("#{{ selectElementId|namespaceInputId|e('js') }}"),
            $("#{{ typeElementId|namespaceInputId|e('js') }}"),
            '{{ typeElementId|namespaceInputName|e('js') }}'
        );
    {#</script>#}
{% endset %}

{% js js %}